// $color-text: #161616;
// $

// 20px при разрешении 1200px
// 21,66px при разрешении 1366px
// 20,8px = 1280 разрешение, container(1170px) + padding(15px)
// 27,2px при разрешении 1920
//
:root {
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
  --main-font: Roboto, sans-serif;
  --main-text: #161616;
  --main-bg: #fff;
}

*,
::before,
::after {
  box-sizing: inherit;
}

// html{overflow-y:scroll}
// html{overflow-x:scroll}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font, sans-serif);
  color: var(--main-text, #161616);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  // padding: 20px;
  padding-top: 5em;
  padding-bottom: 5em;
  font-size: 1rem;
  line-height: 1.2;

  &__layout {
    // height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__info {
    flex: 1;
  }

  &__image {
    flex: 1;
  }

  &__info + &__image {
    margin-left: 1%;
  }
}
// 36.4px;
.info {
  &__name,
  &__job {
    font-weight: bold;
    font-size: 1.75em;
  }

  &__job {
    margin-bottom: 30px;
  }
  &__desk {
    margin-bottom: 30px;
  }
}

.social {
  display: flex;
  &__link {
    display: block;
    text-decoration: none;
  }

  .inline-svg-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: 20px;
  }
}

// 36.4px;
.section-title--h1 {
  font-size: 1.75em;
}
// 31.2px;
.section-title--h2 {
  font-size: 1.5em;
  font-weight: bold;
  // margin: 0;
  text-align: center;
}

.skills {
  &__title {
    text-align: left;
    margin-bottom: 10px;
  }

  &__list {
    margin: 0;
    padding: 0;
  }
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  // .works__item + .works__item {
  //   margin-bottom: 2%;
  //   margin-right: 2%;
  // }

  .works__link {
    display: block;
  }

} 

@media (max-width: 700px) {
 .header__layout {
   flex-direction: column;
 }
}